body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;

    font: 0.75rem 'Press Start 2P', cursive;
    color: white;
    background-color: darkslategray;
}

#loading-screen {
    font: 3rem 'Press Start 2P', cursive;
    color: black;
    position: relative;
}

#loading-screen h1 {
    color: white;
    letter-spacing: 5px;
}

#loading-screen img {
    width: 250px;
    height: 250px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: loading 1s ease-in-out 0.25s infinite;
}

@keyframes loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

header {
    position: absolute;
    top: 5rem;
    left: 8rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
    display: flex;
}

header h2 {
    margin-top: 0.5rem;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

#pokemon-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(5, 12vw);
    grid-template-rows: repeat(31, 15vw);
    column-gap: 2rem;
    row-gap: 2rem;
}

.card {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    letter-spacing: 1px;
    overflow: hidden;

    cursor: pointer;
    transition: all ease-in-out;
}

.card img {
    width: 8vw;
    height: 8vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: white;
    color: black;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;

    margin-left: 3rem;
    margin-top: 3rem;
}

#modal-close p {
    margin-left: 5px;
    margin-top: 36px;
}

.selected-card {
    width: 480px;
    height: 650px;
    border-radius: 50px;
    background-color: darkslategray;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.poke-photo-container {
    height: 40%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poke-photo-container span {
    position: relative;
    left: 175px;
}

.poke-photo-container img {
    width: 175px;
    height: 175px;
}

.type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.type-container div {
    width: 25%;
    margin: 0 1rem;
    padding: 5px;
    border-radius: 5px;
}

.stats-container {
    list-style: none;
    position: absolute;
    left: 50%;
    margin-top: 3rem;
    transform: translateX(-50%);
}

.stats-container li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* TYPE COLOR ASSIGNMENTS */

.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}
    
.water {
    background-color: #6390F0;
}

.grass {
    background-color: #7AC74C;
}

.electric {
    background-color: #F7D02C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dark {
    background-color: #705746;
}

.dragon {
    background-color: #6F35FC;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}